body{
  box-sizing: border-box;
}
.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 75px;
  padding: 0 40px 0 40px;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.5px solid rgb(230, 229, 229);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}
.header_sm {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 75px;
  padding: 0 12px 0 24px ;
  background-color: rgb(255, 255, 255);
  border-bottom: 0.5px solid rgb(230, 229, 229);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}
.header_img {
  height: 30px;
  width: 30px;
}
.header_img_logo {
  display: block;
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.header_logo_title {
  font-family: Arial Black;
  color: rgb(51, 51, 51);
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_logo_title_h4 {
  margin: 0;
  font-family: Bahnschrift;
  color: rgb(56, 55, 55);
  text-decoration: none;
}
.header_logo_title_h4:hover {
  color: rgb(71, 157, 131);
  transition: 0.2s;
}
.header_logo_title_p4 {
  margin: 4px 0 0 0;
  font-size: 10px;
  font-family: Bahnschrift;
  color: rgb(139, 139, 139);
}
.header_ul {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_li {
  margin: 0 20px;
}
.button_log {
  height: 40px;
  width: 138px;
  display: flex;
  float: right;
  justify-content:right;
  align-items: center;
  
}
.button_log_butt {
  box-sizing: border-box;
  z-index: 20;
  height: 40px;
  width: 138px;
  left: 0px;
  top: 0px;
  padding: 0px;
  cursor: pointer;
  background: none rgb(71, 157, 131);
  border: 1px none rgb(127, 149, 235);
  text-align: center;
  font-family: Bahnschrift;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;
  text-decoration: none;
  font-style: normal;
}
.button_log_butt:hover{
    background:  rgb(255, 255, 255);
    color: rgb(71, 157, 131);
    border: 1px solid rgb(71, 157, 131);
    transition: 0.2s;



}

.header_icon{
    height: 30px;
    width: 30px;
    margin: 0 7px;
}
.header_icon_img{
    height: 100%;
    width: 100%;
}
.header_li_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(71, 157, 131);
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.footer_blo{
  display: block;
  width: 200px;
  height:200px ;
 margin: 0 20px;

}
.footer_logo_title{
  font-family: Arial Black;
  color: rgb(255, 255, 255);
}
.footer_logo_title_p{
  font-family: Bahnschrift;
  color: rgb(255, 255, 255);
  font-size: 9px;
}
.footer_ul{
  color: rgb(255, 255, 255);

}
.footer_li{
  font-family: Bahnschrift;
  color: rgb(255, 255, 255);
cursor: pointer;
margin: 0 0 5px 0;

}
.footer_li:hover{
  text-decoration:underline;
transition: 0.2s;
}
.countries{
 

  box-sizing: border-box;
  height: 50px;
  width: 240px;
  min-width:240px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230); 
  border-radius: 3px;
  margin: 10px;
  
}
.countries_page{
 

  box-sizing: border-box;
  height: 50px;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230); 
  border-radius: 3px;
  
  
}
.countries_sm{
 

  box-sizing: border-box;
  height: 50px;
  width: 200px;
  min-width:200px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230); 
  border-radius: 3px;
  margin: 10px;
  
}
.contentFind{
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 0 40px; */
  /* margin: 20px ; */
  margin-top: 1px;

}
.contentFind_new{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
background-color: burlywood;
  

}
.countries_butt_div{
  background-color: brown;
  height: 50px;
  box-sizing: border-box;
  width: 240px;
  margin: 10px;
}
.countries_icon{
  box-sizing: border-box; 
  height: 35px; left: 9px; width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.countries_icon_b{
  box-sizing: border-box; 
  z-index: 0; 
  height: 20px; 
  width: 20px; 
  left: 0px; 
  top: 15px; 
  padding: 0px; 
  text-align: center; 
  background: none; 
  border: none; 
  cursor: inherit; 
  color: rgb(71, 157, 131); 
  font-size: 20px; 
  border-radius: 4px;
  

}
.countries_icon_button{
  box-sizing: border-box; 
 padding: 12px 0 0 10px;

}
.countries_select{
  box-sizing: border-box; 
  z-index: 0; 
  height: 48px; 
  width: 120px; 
  left: 0px; 
  top: 0px; 
  
  border: none; 
  background-color: transparent; 
  color: rgb(138, 143, 154); 
  font-family: Bahnschrift; 
  font-size: 14px; 
}
.countries_sel{
  box-sizing: border-box; 
  height: 48px; left: 39px; width: 120px;
}
.countries_icon_rig{
  box-sizing: border-box; 
  margin-right:0 auto ;
}
.bubble-r-box{
  box-sizing: border-box; 
  height: 48px;  width: 120px;

}
.bubble-element{
  margin: 5px 0 0 20px;
   box-sizing: border-box; z-index: 0; height: 48px; width: 200px; left: 0px; top: 0px; border: none; background-color: transparent; color: rgb(138, 143, 154); font-family: Bahnschrift; font-size: 14px; border-radius: 3px;
}
.bubble-element_sm{
  margin: 5px 0 0 20px;
   box-sizing: border-box; z-index: 0; height: 48px; width: 155px; left: 0px; top: 0px; border: none; background-color: transparent; color: rgb(138, 143, 154); font-family: Bahnschrift; font-size: 14px; border-radius: 3px;
}
.dropdown-choice_dropdown-placeholder{
  box-sizing: border-box; 
  color: rgb(138, 143, 154); display: none;
  
}
.dropdown-choice{
  
  box-sizing: border-box; 
  color: rgb(138, 143, 154);
}
.countries_butt{
  
  box-sizing: border-box; 
  margin: 10px;
  height: 50px; 
  width: 240px; 
  min-width: 240px; 
  
  cursor: pointer;
  background: none rgb(71, 157, 131); 
  border: none; 
  text-align:center; 
  font-family: Bahnschrift; 
  font-size: 16px; 
  font-weight: 700; 
  color: rgb(255, 255, 255); 
  line-height: 1; 
  border-radius: 3px;
  
  }
.countries_butt_sm{
  
  box-sizing: border-box; 
  margin-bottom: 10px;
  height: 50px; 
  width: 200px; 
  min-width: 200px; 
  
  cursor: pointer;
  background: none rgb(71, 157, 131); 
  border: none; 
  text-align:center; 
  font-family: Bahnschrift; 
  font-size: 16px; 
  font-weight: 700; 
  color: rgb(255, 255, 255); 
  line-height: 1; 
  border-radius: 3px;
  
  }
  .getStart{
    box-sizing: border-box; 

    display: flex;
    align-items: center;
    height: 328px;
    background-color: rgb(71, 157, 131);
    box-sizing: border-box; 
    padding: 10px 40px;
    justify-content: space-between;
  }
  .getStart_xs{
    box-sizing: border-box; 

    display: flex;
    align-items: center;
    height: 328px;
    background-color: rgb(71, 157, 131);
    box-sizing: border-box; 
    padding: 10px 0px;
    justify-content: space-between;
  }
  .img_woman_margin{
    margin-left: -250px;
  }
  .getStart_mob{
    box-sizing: border-box; 
    
    display: flex;
    align-items: center;
    height: 328px;
    background-color: rgb(71, 157, 131);
    padding: 10px 0px;
    justify-content: space-between;
  }
  
  .getStart_first_coll_h{
    
    font-family: Impact;
    margin: 0;
    padding: 0;
    color: #fff;
    
  
  }
  .getStart_first_coll_red{
    
    font-family: Impact;
    margin: 0;
    padding: 0;
    color: rgb(121, 15, 15);
    
  
  }
  .getStart_first_coll_p{
    color: #fff;
    margin: 0;
    font-family: Bahnschrift; 
  font-size: 20px;
  }
  .getStart_first_coll_r{
    margin: 0;
    color: rgb(121, 15, 15);
   
  }
  .uppercase{
  text-transform: uppercase;
  white-space: wrap;  
  font-family: Arial Black;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  .img_woman{
    
    margin-bottom: -60px;
    box-sizing: border-box; 
    z-index: 2; 
    height: 267px; 
    width: 248px; 
    left: 744.672px; 
     
    background-color: rgba(255, 255, 255, 0); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1613995572477x520439369909409660%2Fnew-healthcare_1.png?w=384&h=&auto=compress&dpr=1&fit=max");
  }
  .img_woman_xs{
    
    margin-bottom: -95px;
    box-sizing: border-box; 
    z-index: 2; 
    height: 230px; 
    width: 200px; 
    
     
    background-color: rgba(255, 255, 255, 0); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1613995572477x520439369909409660%2Fnew-healthcare_1.png?w=384&h=&auto=compress&dpr=1&fit=max");
  }
  .img_woman_mob{
    
    margin-bottom: -118px;
    box-sizing: border-box; 
    z-index: 2; 
    height: 210px; 
    width: 190px; 
 
     
    background-color: rgba(255, 255, 255, 0); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1613995572477x520439369909409660%2Fnew-healthcare_1.png?w=384&h=&auto=compress&dpr=1&fit=max");
  }
  .box_on_woman{
    display: flex;
    
    box-sizing: border-box; 
    
    height: 50px; 
    width: 260px; 
    align-items: center;
    margin-top: -50px;
   
    margin-left: -100px;
    background-color: rgba(171, 171, 171, 0.2); 
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(0, 0, 0); 
    border-radius: 5px; 
    box-shadow: rgba(71, 64, 64, 0.2) 0px 0px 8px 0px;
  }
  .box_on_woman_mob{
    box-sizing: border-box; 
    height: 50px; 
    width: 220px; 
    
    margin-top: -100px;
    position: absolute;
    margin-left: -100px;
    background-color: rgba(171, 171, 171, 0.2); 
    border-style: solid; 
    border-width: 1px; 
    border-color: rgb(0, 0, 0); 
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
  }
  .content_page{
    box-sizing: border-box; 
    padding-top: 75px;
  }
  .getStart_first_coll_fir{
    margin-bottom: 80px;
    margin-top: -30px;
  }
  .get_start_butt{
    box-sizing: border-box; 
   
    height: 45px; 
    width: 180px; 
    padding: 0px; 
    cursor: pointer; 
    background: none rgb(255, 222, 89); 
    border: none; 
    text-align: center; 
    font-family: Bahnschrift; 
    font-size: 17px; 
    font-weight: bold; 
    color: rgb(34, 34, 34); 
    line-height: 1; 
    border-radius: 3px; 
    box-shadow: rgba(71, 64, 64, 0.2) 0px 0px 8px 0px;

  }
  .get_start_butt:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px; 
    transition: box-shadow 100ms ease 0s;
  }
  .box_on_woman_p{
    color: rgb(5, 5, 5);
    margin: 0;
    font-family: Bahnschrift; 
  font-size: 14px;
  white-space: nowrap; 
padding-left: 5px;  


  }
  .box_on_woman_a{
 color: rgb(12, 12, 160);
  }
  .getStart_first_coll_fir_h{
    font-family: Arial Black;
    margin: 0;
    padding: 0;
    color: #fff;
    white-space: wrap; 
    

  }
  .getStart_mobile_first_coll_p{
    color: #fff;
    margin: 0;
    font-family: Bahnschrift; 
  font-size: 12px;
  }
  .box_second_woman_mob{
    box-sizing: border-box; 
    position:absolute;
    margin-right: auto;
    
  }
  .dialog_sign{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 600px;
    width: 450px;
    padding:30px;
    z-index: 9999;
  }
  .dialog_sign_inside{
    display: block; 
    box-sizing: border-box; 
    position: absolute; 
    z-index: 2; 
    top: 0px; 
    height: 353px; 
    
    width:380px; 
    left: 0px;
  }
  .dialog_title{
    white-space: pre-wrap; 
    box-sizing: border-box; 
    height: 30px; 
    overflow: visible; 
    font-family: Bahnschrift;
    font-size: 28px; 
    font-weight: 700; 
    color: rgb(41, 41, 41); 
    text-align: center; 
    line-height: 1; 
    
    width: 390px; 
    
  }
  .dialog_title_h2{
    margin: 0;
    
  }
  .input_modal{
    width: 390px; 
    height: 50px;
    margin-top: 20px;
  
  }
  .input_modal_email{
    border: 1px solid rgb(241, 243, 247); 
    background: none rgb(241, 243, 247); 
    box-sizing: border-box; 
    z-index: 12; 
    height: 50px; 
    top: 0px; 
    border-radius: 3px; 
    font-family: Bahnschrift; 
    font-size: 14px; 
    color: rgb(41, 41, 41); 
    padding: 0px 8px; 
    width: 380px; 
    left: 0px; 
    box-shadow: none;
  }
  .input_modal_butt_div{
    width: 390px; 
    height: 50px;
    margin-top: 20px;
  }
  .input_modal_butt{
    padding: 0px; 
    cursor: pointer; 
    background: none rgb(255, 109, 105); 
    border: none; 
    text-align: center; 
    
    box-sizing: border-box; 
    z-index: 14; 
    height: 50px; 
    top: 0px; 
    font-family: Bahnschrift; 
    font-size: 16px; 
    font-weight: 700; 
    color: rgb(255, 255, 255); 
    line-height: 1; 
    border-radius: 3px; 
    width: 380px; 
  
  }
  .input_modal_link{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    height: 22px; 
    text-align: center; 
    width: 380px; 
   
  }
  .input_modal_link_p{
    white-space: nowrap;  
    box-sizing: border-box; 
    z-index: 2; 
    top: 0px; 
    height: 22px; 
    overflow: visible; 
    padding-bottom: 0px; 
    font-family: Bahnschrift; 
    font-size: 13px; 
    font-weight: 500; 
    color: rgb(41, 41, 41); 
    line-height: 1.3; 
    padding-top: 2.5px; 
    border-radius: 0px; 
    width: 134px; 
    margin-left: -20px;
    
    
  }
  .input_modal_link_p_c{
    white-space: nowrap;  
    box-sizing: border-box; 
    z-index: 2; 
    top: 0px; 
    height: 22px; 
    overflow: visible; 
    padding-bottom: 0px; 
    font-family: Bahnschrift; 
    font-size: 13px; 
    font-weight: 500; 
    color: rgb(41, 41, 41); 
    line-height: 1.3; 
    padding-top: 2.5px; 
    border-radius: 0px; 
    width: 134px; 
    
  }
  .input_modal_link_a{
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .input_modal_link_ckecked{
    display: flex;
    margin-top: 10px; 
    height: 22px; 
    
    width: 380px;
  }
  .covid{
    display: flex;
    align-items: center;
    justify-content: center ;
    box-sizing: border-box;
    height: 80px;
    background-color:  rgb(255, 222, 89); 
    
  }
  .covid_p{
    font-family: Bahnschrift; 
    white-space: wrap;  
text-align: center;
margin: 0;
  }
  .covid_a{
    font-family: Bahnschrift; 
    white-space: wrap; 
    font-weight: bold; 

  }
  .sectionInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sectionInfo_block{
    padding-top: 20px;
    margin: 50px 20px;
    display: block;
    height: 200px;
    width: 200px;
  }
  .sectionInfo_block_sm{
    
    margin: 25px 10px;
    display: block;
    height: 160px;
    width: 160px;
  }
  .sectionInfo_block_icon{
    display: flex;
    justify-content: center;
    
    
  }
  .sectionInfo_block_icon_size{
    font-size: 60px !important;
    color: rgb(37, 37, 37);
  }
  .sectionInfo_block_icon_size_sm{
    font-size: 60px !important;
    color: rgb(37, 37, 37);
    
  }
  .sectionInfo_block_number{
    font-size: 50px;
    font-family: Bahnschrift; 
    color: rgb(141, 139, 139);
    display: flex;
    justify-content: center;
    margin-top: 13px;
  }
  .sectionInfo_block_number_sm{
    font-size: 50px;
    font-family: Bahnschrift; 
    color: rgb(141, 139, 139);
    display: flex;
    justify-content: center;
    
  }
  .sectionInfo_block_info{
    font-family: Bahnschrift; 
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 13px;

  }
  .sectionInfo_block_info_sm{
    font-family: Bahnschrift; 
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;

  }
  .img_lang_bind{
    height: 40px;
    width: 40px;
    margin-left: 5px;


  }
  .img_lang{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .sectionWitPic{
    box-sizing: border-box;
    height: 500px;
    background-color: khaki;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .sectionWitPic_pictures{
    background-color: rgb(134, 134, 132);
    width: 50%;
    display: flexbox;
  }
  .sectionWitPic_infoss{
    background-color: rgb(18, 151, 168);

  }
  .sectionWitPic_pictures_1_im{
    display: block; margin: 0px; width: 100%; height: 100%; border-radius: 5px;
  }
  .sectionWitPic_pictures_1_im{
    box-sizing: border-box; 
    z-index: 2; 
    height: 228.06px; 
    width: 363.709px; 
    left: 18.9939px; 
    top: 0px; 
    border-radius: 5px;
    display: flex;

  }
  .sectionWitPic_pictures_2{
    display: flex;
    box-sizing: border-box; 
    z-index: 4; 
    height: 185px; 
    width: 348px; 
    left: 0px; 
    top: 193.06px; 
    border-radius: 5px;
    margin-top: -40px;
    margin-right: -100px;
  }
  .sectionWitPic_pictures_3{
    display: flex;
    box-sizing: border-box; 
    z-index: 4; 
    height: 185px; 
    width: 348px; 
    left: 0px; 
    top: 193.06px; 
    border-radius: 5px;
    margin-top: -200px;
    margin-left: -200px;
    position: relative;
  }
  .yourMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:40px;
    background-color: rgb(246, 246, 246); 
  }
  .yourMain_first_content_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    
    height: 46px; 
    width: 46px; 
    left: 0px; 
    top: 0px; 
    background-color: rgb(71, 157, 131); 
    border-radius: 5px;
  }
  .yourMain_first_content{
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  .yourMain_first_content_p1{
    margin: 0;
    font-family: Bahnschrift; 
    font-size: 20px;
    font-weight:600;
    color: rgb(37, 37, 37);
  }
  .yourMain_first_content_p2{
    margin: 0;
    font-family: Bahnschrift; 
    font-size: 20px;
    color: rgb(84, 84, 85);

  }
  .yourMain_first_content_ppppp{
    margin-left: 20px;
  }
  .yourMain_first_p{
    font-size: 20px;
    color: rgb(84, 84, 85);
    white-space: wrap;  

  }
  .yourMain_first_h{
    font-family: Bahnschrift; 

    color: rgb(58, 58, 58);
    white-space: wrap;  
  }
  .yourMain_second_rows1_firs_img{
    box-sizing: border-box;

    display: block; 
    margin: 0px; 
    width: 100%; 
    height: 100%; 
    border-radius: 0px;
  }
  .yourMain_second_rows1_firs_sm{
    box-sizing: border-box;
    width: calc(50% - 6px);
    margin: 3px;

  }
  .yourMain_second_rows1_firs{
    box-sizing: border-box;
    width: 220px;
    margin: 3px;

  }
  .yourMain_second_rows1{
    display: flex;
    box-sizing: border-box;
    

  }
  .yourMain_second_rows2{
    box-sizing: border-box;
    display: flex;
    width: 446px;
    margin: 3px;
  }
  
  .yourMain_second_rows2_sm{
    box-sizing: border-box;
    width: calc(100% - 6px);
    margin: 3px;
  }
  .yourMain_first{
    padding: 0 50px 0 0 ;
    margin-bottom: 20px;
  }
  .yourMain_first_sm{
    padding: 0 0px 0 0 ;
    margin-bottom: 20px;
  }
  .yourMain_second{
    display: block;
    justify-content:space-between;
    align-items: center;
    padding:20px 0 0 0px;
  }
  .yourMain_second_sm{
    display: block;
    justify-content:space-between;
    align-items: center;
    padding:20px 0 0 0px;
  }
  
  .treatmentList{
    box-sizing: border-box;
    padding:40px;
    
  }
  .treatmentList_block_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

  }
  .treatmentList_block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
   
    height: 180px; 
    width: 180px; 
    left: 0px; 
    top: 0px; 
    background-color: rgb(255, 222, 89); 
    border-radius: 5px; 
    cursor: pointer;
    margin: 15px;
        padding:10px ;
    justify-content: center;
  }
  .treatmentList_block_imgggg{
    display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;
  }
  .treatmentList_block_img{
    height: 100px;
    width: 100px;
    padding: 10px  ;
    display: block;

  }
  .treatmentList_block_tilte_p{
    display: flex;
    text-align: center;
    font-family: Bahnschrift; 
    margin: 0;
    color: rgb(0, 0, 0);
    white-space: wrap;
  }
  .treatmentList_block_tilte{
    display: flex;
  }
  .countriesTourism{
    box-sizing: border-box;
    background-color: rgb(246, 246, 246);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }
  .countriesTourism_h{
    font-family: Bahnschrift; 
    white-space: wrap;
    margin-top: 0;
    color: rgb(24, 24, 24);
    font-size: 40px;
    margin-bottom: 15px;
    margin-right: 30px;
  }
  .countriesTourism_p{
    font-family: Bahnschrift; 
    white-space: pre-wrap;
    margin-top: 0;
    color: rgb(24, 24, 24);
    font-size: 30px;
    
  }
  .countriesTourism_p:hover{
    text-decoration: underline;
    transition: 0.5s;
  }
  .countriesTourism_block{
    box-sizing: border-box;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 230px;
    height: 150px;
     
    background-color: rgb(71, 157, 131); 
    border-radius: 5px;
    margin: 15px;
    
  }
  .countriesTourism_block_img{
    display: flex;
    align-content: center;
    justify-content:space-between;
    height: 80px;
    width: 80px;
    
  }
  .countriesTourism_block_imggg{
    display: block;
    
     margin: 0px; width: 100%; height: 100%; border-radius: 0px;
  }
  .countriesTourism_block_par{
    font-family: Bahnschrift; 
    white-space: pre-wrap;
    margin-top: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;

  }
  .countriesTourism_block_tahuiy2{
    display: flex;
    padding-left: 11px;
    margin-bottom: 10px;
  }
  .treatmentList_block_green{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
   
    width: 230px;
    height: 150px;
    left: 0px; 
    top: 0px; 
    background-color: rgb(71, 157, 131); 
    border-radius: 5px;
    
    cursor: pointer;
    margin: 15px;
        padding:10px ;
    justify-content: center;
  }
  .treatmentList_block_img_green{
    height: 80px;
    width: 80px;
    padding: 5px  ;
    display: block;
    margin: 0 10px ;
  }
  .treatmentList_block_imgggg_green{
    display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;
  }
  .treatmentList_block_tilte_green{
    display: flex;
  }
  .treatmentList_block_tilte_p_green{
    display: flex;
    text-align: center;
    font-family: Bahnschrift; 
    margin: 0;
    color: rgb(253, 253, 253);
    
    font-size: 25px;
    margin-top: 0;
  }
  .turkey_hdiv{
    align-content: center;
  }
  .turkey_h{
    font-family: Bahnschrift; 
    margin: 0;
    text-align: center;
    font-size: 40px;
    color: rgb(24, 24, 24);


  }
  .turkey{
    padding: 40px;
  }
  .turkey_sm{
    padding: 20px;
  }
  .turkey_block{
     display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 350px;
    width: 300px;
    background-color: rgb(105, 104, 101);
    margin: 40px 40px 0 40px;
        box-sizing: border-box;  
     background-color: rgba(255, 255, 255, 0); 
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover; 
     border-radius: 0px; 
     background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1614013234694x950946250642022800%2Fa91231b153174e598f75.jpg?w=384&h=448&auto=compress&fit=crop&dpr=1"); 
     box-shadow: rgba(54, 52, 52, 0.2) 0px 0px 8px 2px;

  }
  .turkey_block_sm{
     display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 350px;
    width: 300px;
    background-color: rgb(105, 104, 101);
    margin-top: 30px;
    padding: 20px;
        box-sizing: border-box;  
     background-color: rgba(255, 255, 255, 0); 
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover; 
     border-radius: 0px; 
     background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1614013234694x950946250642022800%2Fa91231b153174e598f75.jpg?w=384&h=448&auto=compress&fit=crop&dpr=1"); 
     box-shadow: rgba(54, 52, 52, 0.2) 0px 0px 8px 2px;

  }
  .turkey_block2{
     display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 350px;
    width: 300px;
    background-color: rgb(105, 104, 101);
    margin: 40px 40px 0 40px;
    box-sizing: border-box;  
     background-color: rgba(255, 255, 255, 0); 
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover; 
     border-radius: 0px; 
     background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1614014986014x124311998134065230%2F9690-medicana_1024-2.jpg?w=384&h=448&auto=compress&fit=crop&dpr=1");     box-shadow: rgba(54, 52, 52, 0.2) 0px 0px 8px 2px;

  }
  .turkey_block2_sm{
     display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: space-between;
    height: 350px;
    width: 300px;
    background-color: rgb(105, 104, 101);
    margin-top: 30px;
    box-sizing: border-box;  
     background-color: rgba(255, 255, 255, 0); 
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover; 
     border-radius: 0px; 
     background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1614014986014x124311998134065230%2F9690-medicana_1024-2.jpg?w=384&h=448&auto=compress&fit=crop&dpr=1");     box-shadow: rgba(54, 52, 52, 0.2) 0px 0px 8px 2px;

  }
  .turkey_block3{
     display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 350px;
    width: 300px;
    background-color: rgb(105, 104, 101);
    margin: 40px 40px 0 40px;
    box-sizing: border-box;  
     background-color: rgba(255, 255, 255, 0); 
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover; 
     border-radius: 0px; 
     background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1614015038229x327347511119029570%2F8137-otr_ca57a4c8-08.jpg?w=384&h=448&auto=compress&fit=crop&dpr=1");
  }
  .turkey_block3_sm{
    
     display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: space-between;
    height: 350px;
    width: 300px;
    background-color: rgb(105, 104, 101);
    margin-top: 30px;
    box-sizing: border-box;  
     background-color: rgba(255, 255, 255, 0); 
     background-repeat: no-repeat; 
     background-position: center center; 
     background-size: cover; 
     border-radius: 0px; 
     background-image: url("https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1614015038229x327347511119029570%2F8137-otr_ca57a4c8-08.jpg?w=384&h=448&auto=compress&fit=crop&dpr=1");
  }
  .turkey_block:hover{
    
    box-shadow: rgba(0, 0, 51, 0.5) 4px 8px 8px 0px;
    transition: box-shadow 100ms ease 0s;
  }
  .turkey_block2:hover{
    
    box-shadow: rgba(0, 0, 51, 0.5) 4px 8px 8px 0px;
    transition: box-shadow 100ms ease 0s;
  }
  .turkey_block3:hover{
    
    box-shadow: rgba(0, 0, 51, 0.5) 4px 8px 8px 0px;
    transition: box-shadow 100ms ease 0s;
  }
  .turkey_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .turkey_bloc_small{
    display: flex;
    align-items: center;
    justify-content: center;
     box-sizing: border-box;  
     height: 52px; 
     width: 90px; 
     left: 0px; 
     top: 0px; 
     background-color: rgb(71, 157, 131); 
     border-radius: 0px 0px 10px; 
     box-shadow: rgba(0, 0, 51, 0.5) 4px 8px 8px 0px;
     margin-top: -12px;
     margin-left: -12px;
  }
  .turkey_bloc_small_sm{
    display: flex;
    align-items: center;
    justify-content: center;
     box-sizing: border-box;  
     height: 52px; 
     width: 90px; 
     left: 0px; 
     top: 0px; 
     background-color: rgb(71, 157, 131); 
     border-radius: 0px 0px 10px; 
     box-shadow: rgba(0, 0, 51, 0.5) 4px 8px 8px 0px;
     margin-top: -25px;
     margin-left: -25px;
  }
  .turkey_bloc_small_p{
    font-family: Bahnschrift; 
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .turkey_block_ppp{
    font-family: Bahnschrift; 
    margin: 0;
    font-size: 25px;
    color: #fff;

  }
  .turkey_block_ppp_small{
    font-family: Arial; 
    margin: 0;
    font-size: 25px;
    color: #fff;
    font-weight: 900;

  }
  .askQuestion{
    padding: 40px;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .askQuestion_div{
    box-sizing: border-box; 
    bottom: 40px;
    
    top: 55px; 
    background-color: rgb(71, 157, 131); 
    border-radius: 5px;
  }
  .askQuestion_div_hhh{
    text-align: center;
    color: #fff;
    font-family: Bahnschrift; 
    font-size: 40px;
    white-space: wrap;

  }
  .askQuestion_div_content_ppp{
    text-align: center;
    color: #fff;
    font-family: Bahnschrift; 
    white-space: wrap;
    font-size: 20px;
  }
  .askQuestion_div_content{
    box-sizing: border-box; 

    margin: auto;
   
   
  }
  .askQuestion_div_content_prosto{
    box-sizing: border-box; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .askQuestion_div_footer{
    box-sizing: border-box; 
    margin: 0 20px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .askQuestion_div{
    padding: 0 20px 0px 20px;
  }
  .askQuestion_div_footer_row_h{
    margin: 0;
    color: #fff;
    font-family: Bahnschrift; 
    white-space: wrap;
  }
  .askQuestion_div_footer_row_p{
    margin: 0;
    color: #fff;
    font-family: Bahnschrift; 
    white-space: wrap;
  }
  .askQuestion_div_footer_row_button{
    box-sizing: border-box; 
    height: 35px; 
    width: 170px; 
    left: 0px; 
    top: 11px; 
    padding: 0px; 
    cursor: pointer; 
    background: none rgb(255, 222, 89); 
    border: none; 
    text-align: center; 
    font-family: Bahnschrift; 
    font-size: 14px; 
    font-weight: 700; 
    color: rgb(36, 36, 36); 
    line-height: 1; 
    border-radius: 3px;
  }
  .askQuestion_div_footer_row_icon{
    display: flex;
    align-items: center;
  }
  .ask_block_icon_size_w{
    font-size: 40px !important;
    margin-left: 10px;
    color: rgb(67, 216, 84);
  }
  .ask_block_icon_size_t{
    font-size: 40px !important;
    margin-left: 10px;
    color: rgb(0, 136, 204); 
  }
  .ask_block_icon_size_f{
    font-size: 40px !important;
    margin-left: 10px;
    color: rgb(59, 89, 152);
  }
  .askQuestion_div_footer_row{
    margin: 0 20px;
  }
  .askQuestion_picture{
    position: relative;
    height: 250px;
    width: 250px;
    margin-top: -50px;
    margin-left: -100px;
  }
  .askQuestion_picture_img{
    display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;
  }
  .yourMain_first_content_icon_color{
    color: #fff;
  }
  .partnership{
    box-sizing: border-box;
  }
  .partnership_h{
    margin: 0;
  }
  .partnership_hрр{
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: Bahnschrift; 
    font-size: 35px;
    white-space: pre-wrap;
   margin: 0;
  }
  .partnership_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
  }
  .partnership_block{
    height: 150px;
    width: 220px;
    margin: 15px;
    display: flex ;
    align-items: center;
    justify-content: center;
  }
  .partnership_block_img1{
    width: 220px;
    height: 120px;
    margin: 0;
  }
  .partnership_block_img2{
    width: 190px;
    height: 70px;
  }
  .partnership_block_img3{
    width: 220px;
    height: 67px;
  }
  .partnership_block_img4{
    width: 215px;
    height: 100px;
  }
  .partnership_block_img5{
    width: 86px;
    height: 120px;
  }
  .partnership_block_img6{
    width: 220px;
    height: 81px;
  }
  .partnership_block_img7{
    width: 197px;
    height: 45px;
  }
  .partnership_block_img8{
    width: 220px;
    height: 96px;
  }
  .telNumber{
    background-color: rgb(246, 246, 246);
  }
  .telNumber_phone{
    width: 220px;
    height: 441px;
  }
  .telNumber_phone_img{
    width: 100%;
    height: 100%;
  }
  .telNumber{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:40px;
  }
  .telNumber_content{
    padding: 40px;
  }
  .telNumber_content_hhh{
    margin: 0;
    color: rgb(42, 42, 42);
    font-family: Bahnschrift; 
    white-space: pre-wrap;
    font-size: 40px;
  }
  .telNumber_content_hhh_h3{
    margin: 0;
    color: rgb(42, 42, 42);
    font-family: Bahnschrift; 
    white-space: pre-wrap;
    font-size: 30px;
  }
  .telNumber_content_p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(42, 42, 42);
    white-space: pre-wrap;
    font-size: 20px;
  }
  .telNumber_content_p2p2{
    color: rgb(42, 42, 42);
    font-family: Bahnschrift; 
    white-space: pre-wrap;
    font-size: 20px;
    font-weight: 700;
  }
  .telNumber_content_text{
    height: 51px;  width: 378px;
  }
  .telNumber_content_text_sm{
    height: 51px;  
  }
  .telNumber_content_button{
    margin-top: 30px;
    height: 45px;  width: 156px;  }

  .telNumber_content_text_text{
    box-sizing: border-box; 
    height: 51px;  
    width: 378px;
    left: 0px; top: 0px; 
    border: 1px solid rgba(0, 0, 0, 0.41); 
    background-color: rgb(252, 252, 252); 
    border-radius: 5px; 
    font-family: Bahnschrift; 
    font-size: 16px; 
    font-weight: 500; 
    color: rgb(36, 36, 36); 
    padding: 0px 10px;
  }
  .telNumber_content_text_text_sm{
    box-sizing: border-box; 
    height: 51px;  
    
    left: 0px; top: 0px; 
    border: 1px solid rgba(0, 0, 0, 0.41); 
    background-color: rgb(252, 252, 252); 
    border-radius: 5px; 
    font-family: Bahnschrift; 
    font-size: 16px; 
    font-weight: 500; 
    color: rgb(36, 36, 36); 
    padding: 0px 10px;
  }
  .telNumber_content_button_butt{
    box-sizing: border-box;  
    height: 45px; 
    width: 156px; 
    left: 0px; 
    top: 0px; 
    padding: 0px; 
    cursor: pointer; 
    background: none rgb(71, 157, 131); 
    border: none; 
    text-align: center; 
    font-family: Bahnschrift; 
    font-size: 14px; 
    font-weight: 700; 
    color: rgb(255, 255, 255); 
    letter-spacing: 2px; 
    line-height: 1; 
    border-radius: 5px; 
    
    box-shadow: none;
  }
  .contacts_hhh{
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: Bahnschrift; 
    font-size: 40px;
    white-space: pre-wrap;
  }
  .contacts_ppp{
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: Bahnschrift; 
    font-size: 20px;
    white-space: pre-wrap;
  }
  .contacts_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .contacts_content_block{
    display: block;
    width: 230px;
    height: 200px;
    margin: 0 50px;
  }
  .contacts_content_block_p{
    margin: 0;
    color: rgb(136, 132, 132);

    font-family: Bahnschrift; 
    font-size: 20px;
  }
  .contacts_content_block_p_green{
    margin: 0;
    color: rgb(71, 157, 131); 
    font-family: Bahnschrift; 
    font-size: 20px;

  }
  .contacts_content_block_h{
    color: rgb(42, 42, 42);
  }
  .contacts{
    padding: 40px;
    border-bottom: 1px solid rgb(212, 211, 211);
  }
  .ava{
    margin-right: -60px;
    cursor: pointer;
  }
  .popap_info_profile{
    box-sizing: border-box;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 300px;

  }
  .popap_info_profile_h{
    margin: 0;
  }
  .popap_info_profile_p{
    margin: 0;
    white-space: pre-wrap;
  }
  .popap_info_profile_in{
    font-family: Bahnschrift; 

    margin-left: 10px;
  }
  .popap_info_profile_icon{
    font-size: 18px !important;
    color: rgb(66, 66, 66);
    margin-right: 5px;
  }
  
  .input_modal_link_p_c_ddddddddd{
    padding-left: 10px;
  }
  .input_modal_link_p_c_ddd{
    margin-bottom: 0;
    white-space: nowrap;  
    box-sizing: border-box; 
    z-index: 2; 
    top: 0px; 
    height: 22px; 
    overflow: visible; 
    padding-bottom: 0px; 
    font-family: Bahnschrift; 
    font-size: 15px; 
    font-weight: 500; 
    color: rgb(207, 27, 27); 
    line-height: 1.3; 
    padding-top: 2.5px; 
    border-radius: 0px; 
    width: 134px; 
  }
  .slider_page_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
   
    width: 690px;
    height: 130px;
  }
  .slider_page{
    display: flex;
    height: 230px;
    background-color: rgb(219, 13, 13);
   width: calc(100vw);
    box-sizing: border-box;
    
  }
  .slider_page-div_img{
      height: 100%;
      display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
  }
  .slider_page_div_d{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider_page_div_hhhh{
    text-align: center;
    margin-top: 30px;
  }
  .slider_page_div_hhhh_h{
   margin: 30px 0 0 0;
   font-family: Bahnschrift; 

  }
  .slider_page_div_hhhh_p{
   white-space: rap;

  }
  .slider_page_div_hhhh_pp{
   margin: 10px 0 0 0;
   font-size: 15px;
   font-family: Bahnschrift; 

  }
  .slide{
    height: 230px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246); 


  }
  .slidedddd{
    height: 230px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: calc(100vw - 200px);
    background-color: rgb(231, 231, 231); 


  }
  .slidedddd_sm{
    height: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: calc(100vw - 100px);
    background-color: rgb(231, 231, 231); 


  }
  .slidedddderrr{
    height: 230px;
    box-sizing: border-box;
    display: flex;
   
    justify-content: center;

    /* background-color: rgb(246, 246, 246);  */
    background-color: rgb(231, 231, 231); 

  }
  .slidedddderrr_sm{
    height: 350px;
    box-sizing: border-box;
    display: flex;
   
    justify-content: center;

    /* background-color: rgb(246, 246, 246);  */
    background-color: rgb(231, 231, 231); 

  }
  .input_modal_butt_green{
    padding: 0px; 
    cursor: pointer; 
    

    background: none rgb(71, 157, 131); 
    border: none; 
    text-align: center; 
    
    box-sizing: border-box; 
    z-index: 14; 
    height: 50px; 
    top: 0px; 
    font-family: Bahnschrift; 
    font-size: 16px; 
    font-weight: 700; 
    color: rgb(255, 255, 255); 
    line-height: 1; 
    border-radius: 3px; 
    width: 380px; 
    margin-top: 50px;
  
  }
  .dialog_title_askque{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dialog_title_p_askque{
    white-space: pre-wrap;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: lighter;
    line-height: normal;
  }
  .dialog_title_a_askque{
    white-space: pre-wrap;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:bold;
  }
  .latestSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .latestSection_sm{
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .latestSection_div{
    height: 400px;
    width: 300px;
    margin: 30px;
  }
  .latestSection_div_title{
    box-sizing: border-box;
    height: 100px;
    
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .yourMain_first_content_icon_last{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; 
    
    height: 46px; 
    width: 46px; 
    left: 0px; 
    top: 0px; 
    background-color: rgb(71, 157, 131); 
    border-radius: 50%;
    margin-right: 10px;
  }
  .yourMain_first_content_icon_last_h{
    font-family: Bahnschrift; 

  }
  .latestSection_div_content{
    box-sizing: border-box;
    padding: 15px;
    height: 300px;
    
  }
  .latestSection_div_content_sm{
    box-sizing: border-box;
    
    height: 300px;
    
  }
  .latestSection_div_content_over{
    height: 60px;
    margin-bottom: 35px;
  }
  .latestSection_div_content_over_butt{
    margin-top: 15px;
    box-sizing: border-box; 
    height: 60px;   
    cursor: pointer; 
    background: none rgb(71, 157, 131); 
    border: none; 
    text-align: center; 
    font-family: Bahnschrift; 
    font-size: 16px; 
    font-weight: 600; 
    color: rgb(255, 255, 255); 
    letter-spacing: 2px; 
    line-height: 1; 
    border-radius: 5px; 
     box-shadow: none;
     width: 100%;
     
  }
  .latestSection_div_content_ppp{
    margin: 0;
  }
  .latestSection_div_content_out_butt{
    margin-top: 15px;
    box-sizing: border-box; 
    height: 60px;   
    cursor: pointer; 
    width: 100%;
    border: 1px solid rgb(71, 157, 131); 
    text-align: center; 
    font-family: Bahnschrift; 
    font-size: 16px; 
    font-weight: 600; 
    color: rgb(71, 157, 131); 
    letter-spacing: 2px; 
    line-height: 1; 
    border-radius: 5px; 
     box-shadow: none;
  }
  .greeeeeen{
    margin-right: 0;
    margin-left: 0;
    color: rgb(71, 157, 131); 
  }
  .black_icon{
    color: rgb(0, 0, 0);
  }
  .askQuestion_sm{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .findHospPage{
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
  }
  .findHospPage_first{
    display: block;
   
    height: calc(100vh - 75px);
    width: calc(100vh - 75px);
  }
  .findHospPage_second_d{
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  .findHospPage_second{
    margin-top: 75px;
    box-sizing: border-box;
    display: block;
   padding: 20px;
    height: calc(100vh - 75px);
    width: calc(100vw - 100vh + 55px);
    min-height: 300px;
    overflow-y: auto;
    float: right
  }
  .findHospPage_second_hhh{
    margin: 0;
    white-space: pre-wrap;
    font-family: Bahnschrift; 
    font-weight: 400;
    color: rgb(47, 47, 47);
  }
  .findHospPage_second_h{
    text-align: center;
    margin-bottom: 10px;
  }
  .findHospPage_second_d_location{
    height: 100%;
    width: 44%;
  }
  .findHospPage_second_d_radius{
    height: 100%;
    width: 54%;
  }
  .findHospPage_second_d_countries{
    height: 100%;
    width: 49%;
  }
  .findHospPage_second_d_hospitals{
    height: 100%;
    width: 49%;
  }
  .findHospPage_second_d_departmans{
    height: 100%;
    width: 32%;
  }
  .findHospPage_second_d_prise{
    height: 100%;
    width: 66%;

  }
  .findHospPage_second_d_p{
    font-size: 15px;
    color: rgb(110, 110, 110);
    font-family: Bahnschrift; 
    font-weight: 800;

  }
  
  .findHospPage_second_d_p_netot{
    font-size: 15px;
    color: rgb(110, 110, 110);
    font-family: Bahnschrift; 
    font-weight: 300;
    margin: 5px 0 0 0;
  }
  .findHospPage_second_d_p_netot_a{
    font-size: 15px;
    color: rgb(110, 110, 110);
    font-family: Bahnschrift; 
    font-weight: 800;
    margin: 5px 0 0 0;
  }
  .bubble-element_inputttttt{
     box-sizing: border-box;  
    width: 255px;
     height: 48px;
     border: none; 
     background-color: transparent;
      border-radius: 6px; 
      font-family: Bahnschrift; 
      font-size: 14px; 
      color: rgb(138, 143, 154); 
      padding: 0px 8px;
      margin-top: 12px;
      margin-left: 15px;

  }
  .razmer{
    font-size: 35px !important;
    margin-top: 2px;
  }
  .select_el_finpage{
    margin: 5px 0 0 20px;
    box-sizing: border-box; 
    z-index: 0; 
    height: 50px; 
  
    border: none; 
    background-color: transparent; 
    color: rgb(138, 143, 154); 
    font-family: Bahnschrift; 
    font-size: 14px; 
    border-radius: 3px;
    margin-top: 12px;
    margin-left: 15px;
  }
  .bubble-r-box_find{
    box-sizing: border-box; 
    height: 48px;  
    
  }
  .findHospPage_second_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .countries_isprav{
 

    box-sizing: border-box;
    height: 50px;
    width: 300px;
    min-width:300px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230); 
    border-radius: 3px;
    margin: 10px;
    
  }
  .countries_isprav_border_none{
 

    box-sizing: border-box;
    height: 50px;
    width: 300px;
    min-width:300px;
   
    margin: 10px;
    
  }
  .bubble-element_isprav{
    margin: 5px 0 0 20px;
     box-sizing: border-box; 
     z-index: 0; height: 48px; 
     width: 255px; 
     left: 0px; top: 0px; 
     border: none; 
     background-color: 
     transparent; 
     color: rgb(138, 143, 154); 
     font-family: Bahnschrift; 
     font-size: 14px; 
     border-radius: 3px;
  }
  .findHospPage_second_hospital_list{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;

  }
  .findHospPage_second_hospital_block{
    width: 300px;
    height: 400px;
    margin: 10px;
    display: block;
    box-sizing: border-box;
  }
  .findHospPage_second_hospital_block:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.2s;
  }
  .findHospPage_second_hospital_block_picture{
    display: block;
    width: 300px;
    height: 270px;
    box-sizing: border-box;
    background-color: darkslategrey;
  }
  
  .findHospPage_second_hospital_block_info{
    display: block;
    width: 300px;
    height: 130px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(226, 226, 226);

  }
  .findHospPage_second_hospital_block_picture_img{
    box-sizing: border-box;
  
    height: 100%;
    width: 100%;
  }
  .findHospPage_second_hospital_block_rating{
    height: 25px;
    
  }
  .findHospPage_second_hospital_block_title_h{
    margin: 0 0 0 4px;
    font-family: Bahnschrift; 
    font-size: 20px;
    white-space: pre_wrap;
    color: rgb(63, 63, 63);

  }
  .findHospPage_second_hospital_block_location_icon{
    font-size: 20px !important;
    color: rgb(80, 80, 80);
  }
  .hospPage_content_info_location_city_icon{
    font-size: 20px !important;
    color: rgb(121, 121, 121);
    margin: 0;
  }
  .hospPage_content_info_location_city_text{
    font-family: Bahnschrift; 

    font-size: 20px;
    color: rgb(121, 121, 121);
    margin: -6px 0 0 5px;
  }
  .findHospPage_second_d_p_next{
    font-size: 13px;
    color: rgb(80, 80, 80);
    font-family: Bahnschrift; 
    font-weight: 100;
    margin: 0 0 0 5px;
    white-space: pre-wrap;

  }
  .findHospPage_second_hospital_block_location{
    display: flex;
    align-items: center;
    margin-top: 3px;
  }
  .findHospPage_second_hospital_block_second{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:     rgb(90, 211, 174);
    display: flex;
align-items: center;
justify-content: center;    
  }
  .findHospPage_second_hospital_block_descrip{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .findHospPage_second_hospital_block_second_icon{
    color: rgb(255, 255, 255);
    margin-top: 1px;
  }
  .findHospPage_second_hospital_block_rating_sam_ratenig{
    margin:0;
  }
  .findHospPage_first_position{
    position: relative;
  }
  /* .hospPage{
    padding: 90px 20px 40px 20px;
    background-color: rgb(250, 250, 250);
  } */
  .hospPage{
    padding: 90px 80px 40px 80px;
    background-color: rgb(250, 250, 250);
  }
 .hospPage_picture{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   }
 .hospPage_picture_grand{
    display: block;
    box-sizing: border-box;
    height: 496px;
    width: 496px;
    margin: 2px;
    background-color: rgb(175, 175, 175); 
  }
 .hospPage_picture_small{
   display: flex;
   flex-wrap: wrap;
   height: 500px;
    width: 500px;
 }
 .hospPage_picture_small_block{
   display: block;
   box-sizing: border-box;
    height: 246px;
    width: 246px;
    background-color: rgb(175, 175, 175);
    margin: 2px;
 }
 .hospPage_picture_small_block_img{
   height: 100%;
   width: 100%;

 }
 .hospPage_content{
   margin-top: 50px;
 }
 .hospPage_content_info_location{
   display: flex;
   align-items: center;
 }
 .hospPage_content_info_location_city{
   display: flex;
   align-items: center;
   margin-right: 30px;
 }
 .hospPage_content_info_title_h{
  font-family: Bahnschrift; 

   margin-top: 0;
   color: rgb(39, 39, 39);
 }
 .hospPage_content_info_description_h{
  font-family: Bahnschrift; 

   color: rgb(39, 39, 39);
 }
 .hospPage_content_info_description_title_h{
  font-family: Bahnschrift; 
  margin: 4px 0 0  4px;
  color: rgb(39, 39, 39);
 }
 .hospPage_content_details_content_column_p{
  font-family: Bahnschrift; 
  color: rgb(26, 26, 26);
  font-weight: 500;
 }
 .hospPage_content_details_content_column_a{
  font-family: Bahnschrift; 
  font-weight: 100;
  color: rgb(87, 87, 87);
  margin-left: 8px;
 }
 .hospPage_content_info_description_text_p{
   color: rgb(85, 85, 85);
   white-space: pre-wrap;
   font-family: Bahnschrift; 
    font-weight: 100;
    line-height: 1.5;
 }
 .hospPage_content_details{
   margin: 30px 0  30px 0;
   padding: 25px;
 }
 .hospPage_content_details_title{
   display: flex;
   align-items:center;
   
   
 }
 .hospPage_content_details_title_icon{
  color: rgb(71, 157, 131); 

 }
 .hospPage_content_details_content{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .hospPage_content_details_content_column{
   width: 40%;
  margin-top: 10px;
   margin-right: 30px;
 }
 .hospPage_content_details_content_column_img{
   height: 20px;
   width: 20px;
 }
 .hospPage_content_details_content_column_doc{
  width: 100%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 3px;
  display: flex;
  margin-top: 10px;

}
.hospPage_content_column_doc_picture{
  display: block;
  width: 90px;
  height: 90px;
  background-color: rgb(200, 200, 200);
  margin: 10px;
}
.hospPage_content_column_doc_picture_img{
  width: 100%;
  height: 100%;
}
.hospPage_content_column_doc_infor{
  padding: 10px;
}
.hospPage_content_column_doc_infor_descr_p{
  color: rgb(124, 124, 124);
  margin: 0;
  font-size: 10px
}
.hospPage_content_info_description_title_h4{
  margin: 0;
}
.countries_isprav_border_none_align{
  display: flex;
  align-items: center;
  box-sizing: border-box;
    height: 50px;
    width: 300px;
    min-width:300px;
   
    margin: 10px;
}
.hospPage_content_second_column_p{
  font-weight: 900;
  font-family: Bahnschrift; 
  font-size: 23px;
  margin: 0;
  color: #fff;
}
.hospPage_content_second_column_con{
  text-align: center;
  align-items: center;
  background-color:    rgb(71, 157, 131)  ;
}
.hospPage_content_second_column_a{
  font-weight: 400;
  font-family: Bahnschrift; 
  font-size: 18px;
  color: #fff;
}
.green{
  background-color:    rgb(71, 157, 131)  ;

}
.hospPage_content_details_green{
  margin: 30px 0  30px 0;
  padding: 15px;
  background-color:    rgb(71, 157, 131)  ;
}
.hospPage_content_details_title_align{
  display: flex;
  align-items:center;
  justify-content: space-between;
  
}
.hospPage_content_info_description_title_button{
  padding: 4px 15px;
  border: none;
  border-radius: 2px;
  background: none rgb(255, 222, 89); 

}
.countries_isprav_hos_page{
 

  box-sizing: border-box;
  height: 50px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230); 
  border-radius: 3px;
  margin: 10px;
}
.countries_isprav_hos_page_plus{
 

  box-sizing: border-box;
  height: 56px;
  
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230); 
  border-radius: 3px;
  margin: 10px;
}
.hospPage_second_col_div{
  
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hospPage_second_col_div_padd{
  padding: 0 10px;
  margin-top: 10px;
}
.countries_isprav_hos_page_button_from_hos{
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  background-color:    rgb(71, 157, 131)  ;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  font-family: Bahnschrift; 
  cursor: pointer;
}
.hospPage_secondc_profile_item{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hospPage_secondc_profile_item_icon{
  font-size: 20px !important;
  margin-bottom: -4px;
}
.hospPage_secondc_profile_item_p{
  font-weight: 400;
  margin: 9px 0 9px 9px;
  font-family: Bahnschrift; 

}
.hospPage_secondc_profile_item:hover{
  color: rgb(230, 70, 42);
  transition: 0.3s;
}
.hospPage_secondc_profile_list{
  margin-top: 10px;
}